@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Iceberg&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

:root {
    --section-background-color: #353535;
    --section-font: 'JetBrains Mono', sans-serif;
    
    --title-font: 'IBM Plex Mono', monospace;
    --title-font-size: 4vw;
    --title-color: white;
    
    --main-background-color: #535977;
    
    --output-screen-font: 'Iceberg', monospace;
    --output-screen-background-color: #a4956f;
    --output-font-color: #485046;
    --output-current-operand-font-size: 11.5vw;
    --output-other-operand-font-size: 4vw;
    
    --numpad-background-color: #454b68;
    
    --numpad-button-background-color: #8688ad;
    --numpad-button-background-color-hover: #b09bbd;
    --numpad-button-background-color-active: #a6a7c2;
    
    --numpad-button-font-color: rgb(241, 241, 241);
    --numpad-button-border-line-width: 0.5px;
    --numpad-button-border-color: #cccfd9;
    --numpad-button-border-radius: 5px;
    --numpad-button-font-size: 5.5vw;
    
    --clear-background-color: #c98b19;
    --clear-background-color-hover: #f2b24a;
    --clear-background-color-active: #f0cc69;

    --backspace-background-color: #c54666;
    --backspace-background-color-hover: #e04a6f;
    --backspace-background-color-active: #f07a9f;

    --numpad-equals-background-color: #005fba;
    --numpad-equals-background-color-hover: #4598e6;
    --numpad-equals-background-color-active: #82bdf5;
}

*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    background-color: var(--section-background-color);
    width: 100vw;
    min-height: 100vh;
    font-family: var(--section-font);
}

section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--main-background-color);
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);

    width: 100vw;
    
    height: 155vw;
    
    padding: 5%;
    gap: 5vw;
}

button {
    text-align: center;
    vertical-align: middle;
    aspect-ratio: 1/1;
}

.header {
    width: 100%;
}

.title {
    display: none;
    font-size: var(--title-font-size);
    font-style: italic;
}

.header > p {
    font-family: var(--title-font);
    color: var(--title-color);
}

.output-screen {
    background-color: var(--output-screen-background-color);
    color: var(--output-font-color);
    text-align: right;
    font-family: var(--output-screen-font);
    padding: 5px;
    border-radius: 5px;
    
    box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, .5);
}

.operand-operator-area {
    font-size: var(--output-other-operand-font-size);
}

.operand-operator-area p {
    display: inline-block;
}

.current-operand-area {
    font-size: var(--output-current-operand-font-size);
}

.current-operand-area p {
    display: inline-block;
}

.numpad {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    user-select: none;
    background-color: var(--numpad-background-color);
    width: 100%;
    border-radius: 5px;
    gap: 5px;
    
    box-shadow: 0px 1px 10px 0 rgba(0, 0, 0, .5);
}

.numpad button {
    border: none;
    font-size: var(--numpad-button-font-size);
    color: var(--numpad-button-font-color);
    background-color: var(--numpad-button-background-color);
    font-family: inherit;
    border-radius: 5px;
}

.numpad button:hover {
    cursor: pointer;
    background-color: var(--numpad-button-background-color-hover);
    transition: 250ms;
}

.numpad button:active {
    background-color: var(--numpad-button-background-color-active);
    transition: none;
}

#clear {
    background-color: var(--clear-background-color);
}

#clear:hover {
    background-color: var(--clear-background-color-hover);
    transition: 250ms;
}

#clear:active {
    background-color: var(--clear-background-color-active);
    transition: none;
}

#equals {
    background-color: var(--numpad-equals-background-color);
}

#equals:hover {
    background-color: var(--numpad-equals-background-color-hover);
    transition: 250ms;
}

#equals:active {
    background-color: var(--numpad-equals-background-color-active);
    transition: none;
}

#backspace {
    background-color: var(--backspace-background-color);
}

#backspace:hover {
    background-color: var(--backspace-background-color-hover);
    transition: 250ms;
}

#backspace:active {
    background-color: var(--backspace-background-color-active);
    transition: none;
}

footer {
    color: #ccc;
    font-size: 10px;
    text-align: center;
    width: 100%;
    position: static;
    bottom: 0;
    margin-top: 20px;
}

footer a, footer a:active, footer a:visited{
    display: inline;
    text-decoration: none;
    color: white;
}

@media (min-width: 350px) {
    main {
        background-color: var(--main-background-color);
        width: 350px;
        height: 540px;
        gap: 15px;
        padding: 18px;
    }
    
    .title {
        font-size: 15px;
    }
    
    .operand-operator-area {
        font-size: 15px;
    }
    
    .current-operand-area {
        font-size: 40px;
    }
    
    .numpad button {
        font-size: 1rem;
    }
    
    footer {
        font-size: 15px ;
    }
    
    footer a:hover {
        color: #4598e6;
    }
    
}